<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>BLOG PAGE</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <h1><%= newblog.title %></h1>

        <img src="/upload/<%= newblog.coverimage.replace('uploads/', '') %>" style="width:700px;" alt="">
        <pre class="mt-3" style="max-width: 100%; max-height: 300px; overflow: auto; white-space: pre-wrap; word-wrap: break-word;">
          <%= newblog.body %>
        </pre>
    </div>

    <!-- Blog Creator Details -->
    <div>
        <img src="/<%= newblog.createdBy.profileImageURL || 'default-avatar.png' %>" width="50px" height="50px" class="rounded-circle ms-5" alt="Profile Picture">
        <%= newblog.createdBy.fullName %>
    </div>

    <!-- Comments Section -->
    <div class="container mt-4">
      <h1>Comments (<%= comments.length %>)</h1>
      <hr>

      <!-- Comment Form -->
      <form action="/user/comment/<%= newblog._id %>" method="post">
        <div class="mb-3">
          <label for="commentInput" class="form-label">Write Your Comment</label>
          <input type="text" class="form-control" id="commentInput" name="content">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="justify-content-start align-items-center ms-0 mt-2">
      <% comments.forEach(function(comment) { %>
        <div class="main mt-4 ms-4">
        
          <img src="/<%= comment.createdBy.profileImageURL || 'default-avatar.png' %>" 
               class="rounded-circle ms-5" 
               alt="Profile Pic" 
               width="50" 
               height="50">

          <%= comment.createdBy.fullName %>:

          <div style="display: flex; justify-content: space-between; align-items: center;">
            <p class="ms-5 mt-2" style="margin-right: 10px;"><%= comment.content %></p>
            
            <% if (user && user.userid === comment.createdBy._id.toString()) { %>
              <a href="/user/edit/<%= comment._id %>" style="text-decoration: none; color: #007BFF;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Edit</a>
            <% } %>
          </div>
          
        </div>
      <% }); %>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html> 